body {
    background-color: #0F0B0C;
    color: white;
    max-width: 70rem;
    
}
.text-center {
    text-align: center;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0B0C;

}
.container__login {
    background-color: #0F0B0C;
    width: 100%;

    max-width: 90rem;
    border: 3px solid yellow;
    box-shadow: 0px 1.25 rem 2.5rem rgba(255, 0, 0, 0.1);
    border-radius: 0.625rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    @media(max-width: 60rem){
        max-height: none;
    }
    
}
.load {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.load__img {
    width: 120px;
    height: 100px;
}
.logo {
    margin-top: 1rem;
    border-radius: 50%;
    width: 250px;
    width: 250px;
    border: 2px solid white;
}
.logo2 {
    width: 300px;
    height: 120px;
}
.form__title {
    margin: 2rem;
    font-size: 2.5rem;
}
.form {
    padding: 0 2.5rem;
    /* 40px */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 1rem 0;
    font-family: 'Work Sans', sans-serif;
    margin: 0.5rem 0;
    transition: all 0.3s ease;
    text-indent: 10%;
    border-radius: 10px;

}
.input:focus {
    animation-name: traslade-indet;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transition: all ease 0.3s;


}
@keyframes traslade-indet {
    0% {
        text-indent: 30%;
    }
    100% {
        text-indent: 10%;
    }
    
}

.input::placeholder {
    text-indent: 30%;
    color: rgba(0, 0, 0, 0.45);
    transition: all ease 0.3s;
 
}
.input:focus::placeholder {
    text-indent: 10%;
    color: rgba(0, 0, 0, 0.45);
    transition: all ease 0.3s;

}

.section {
    display: flex;
    justify-content: space-around;
    background-color: #0F0B0C;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.article2 {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 50rem) {
    
    .article2 {
        display: flex;
    }
    .logo2 {
      
        width: 500px;
        height: 220px;
    }
    
}
.container__button {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
    /* 40px */
}

