@font-face {
  font-family: 'Nextwell2';
  src: url('./assets/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Thin.otf');
}
@font-face {
  font-family: 'Nextwell';
  src: url('./assets/fonts/Mark\ Simonson\ \ Proxima\ Nova\ Semibold.otf');
}

body {
  margin: 0 auto;
  font-family: -apple-system, "Nextwell"
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  background-color: #fff;
    width: 100%;
    max-width: 70rem;
    max-height: 60rem;
    box-shadow: 0px 1.25 rem 2.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @media(max-width: 60rem){
        max-height: none;
    }
}